<div id="container-fluid">
<div class="row">

<div class="col-md-1 hidden-xs"></div>
<div class="col-md-4">
<div class="btn btn-xs btn-cd"><%=disc.ITE2%></div>
<div class="title9">

<font size="4"><b><center><%=disc.TIT11%>
<br>
</center></b></font><br>

<img class="img-responsive center-block" src="img/cd/355.png"/>

<font size="2"><center><%=disc.RER4%><br>
<%=disc.PRI3%>／<%=disc.COR8%></center></font>

</div><!--title9-->
</div><!--md4-->


<div class="col-md-6" style="background-color:white">
<div id="0328" class="box12">CD</div>

<div class="box15">
<p class="box16">01&nbsp;&nbsp;&nbsp;<%=disc.SON16%>
</p>
</div><!--/box15-->

<div class="box15">
<p class="box16">02&nbsp;&nbsp;&nbsp;<%=disc.SON17%></p>
</div><!--box15-->

<div class="box15">
<p class="box16">01&nbsp;&nbsp;&nbsp;<%=disc.SON8%>
</p>
</div><!--/box15-->

<div class="box15">
<p class="box16">02&nbsp;&nbsp;&nbsp;<%=disc.SON18%></p>
</div><!--box15-->

<div class="box15">
<p class="box16">02&nbsp;&nbsp;&nbsp;<%=disc.SON19%></p>
</div><!--box15-->
<br>

<form action="/add" method="post">
units:
<input id="number" name="uni" type="number" min="0" max="99" step="1" value="0">
<input name="sku" type="hidden" value=<%= disc.COR8%>>
<input name="pri" type="hidden" value=<%= disc.PRI3%>>
<input target="_blank" type="submit" class="btn btn btn-black" value="CART">
</form>

</div><!--md6--->

<div class="col-md-1 hidden-xs"></div>

</div><!--row-->
</div><!--cont-->

