<div class="col-sm-12" style="color:black">
	
<h4>CONTACT</h4>

<section class="section">

<form class="title2" method="POST">
<dl>
<dt><%=mail.M01%></dt>
<dd><input type="text" class="form-control" id="inputName3" placeholder="Name" name="name" required></dd>
<br>

<dt><%=mail.M02%></dt>
<dd><input type="text" class="form-control" id="inputTitle3" placeholder="Title" name="sub" required></dd>
<br>

<dt><%=mail.M03%></dt>
<dd><input type="email" class="form-control" id="inputName3" placeholder="Email" name="mail" required></dd>
<br>

<dt><%=mail.M04%></dt>
<dd><textarea rows="5" cols="50"  class="form-control" id="inputName3" placeholder="Message" name="message"></textarea></dd>
</dl>
<br>

<div class="btnWrap">

<button type="submit" class="button">
<%=mail.M05%>
</button>
</div>

<br><br><br><br><br><br>



</form>
</section>

</div>
