<% include ../par/head %>
<body>
<% include ../par/nav %>
<ln2div class="container-fluid">
<div class="row">
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="adr?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="adr?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<!--- ------------------------------------- side left ----- -->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<h5><div class="label label-info"> &nbsp;<%= usr%>&nbsp; さん </div></h5>
<br><br>
<% include ../par/out %>
<%}else{ %>
<% include ../par/login %>
<%} %>
</div>
<!--- ------------------------------------- main ----- -->

<div class="col-md-8  col-sm-12" style="color:black">

<br>
<div style="text-align:center">
<%= gis.pai %>
<br><br><br></div>
<form id="sig" action="/shop/usr/adr_reg" method="post">
<input type="hidden" class="form-control" name="email" value="<%=email%>">
<%= gis.tel %><input type="text" class="form-control" name="phn" size="10">
<%= gis.zip %><input type="text" class="form-control" name="zip" size="10">
 <%= gis.sta %><input type="text" class="form-control" name="sta" size="80" >
 <%= gis.city %><input type="text" class="form-control" name="city" size="80" >
 <%= gis.adr %><input type="text" class="form-control" name="ln1" size="80" >
 <%= gis.bldg %><input type="text" class="form-control" name="ln2" size="80" >

 <div style="text-align:center"><a href="agmt" target="_blank"><%= gis.agmt %></a>
&nbsp;&nbsp;
     <input type="checkbox" name="chk" value="yes">&nbsp;<%= gis.agr %><br>
<br>
<button type="submit" class="btn btn-default"><%= gis.reg3 %></button>
</form>
<br>


</div>



</div>



<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>

<div class="footer"><% include ../par/foot %></div>


