<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/shop/nav %>
<!--menu-->

<div class="container-fluid">
<div class="row">

<!--- side left ------->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(typeof usr!=="undefined") {%> 

<h4><div class="label label-info">welcome:&nbsp; <%= usr%>&nbsp; さん</div></h4>
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>

</div>

<!--- main ------->
<div id="cd-col" class="well col-md-10 col-xs-12" style="color:black">
<div class="row">
<div id="cd-col" class="well col-md-12 col-xs-12" style="color:black">

<div class="well col-md-3" style="color:black">
<div align="center"><img src="img/cd/<%=mer.sku%>.png">
<h5>商品番号：TMS-<%=mer.sku%><br></h5></div>

</div>


<div class="well col-md-6" style="color:black">
<h4><%=mer.name%><br></h4>
</div>

<div class="well col-md-3" style="color:black">
<div align="right"><h4>価格:&nbsp;
<%=mer.pri.toLocaleString()%>円&nbsp;(税込)</h4> 
<div style="line-height:10px">別途送料有</div>

<br>
<form action="/cart" method="post">
<input type="hidden" name="sku" value=<%=mer.sku%>>
数量:
<input id="number" type="number" name="uni" value="1" min="0" step="1"><br><br>
&nbsp;&nbsp;
<button type="submit">カートに入れる</button>
</form>

<br>
<a href="MAIL" target="_blank">
<i class="far fa-envelope"> &nbsp; 商品に関する問合せ</a></i>



</div>
</div>
</div>



<div class="well col-md-8"></div>
<div class="well col-md-4"></div>
</div>





</div><!-- cd-col -->
</div><!-- row -->

</div><!-- main-col -->

</div><!--row-->







</div><!-- /container -->

<br><br><br><br><br><br><br><br><br><br>

<div class="footer">
<% include par/foot %>
</div>


</body>

