<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info">  &nbsp;<%=usr%>&nbsp;さん</div>
<br><br>

<% include ../par/out %>
<%}else{ %>
<% include ../par/login %>
<%} %>
</div>
<!--- main ----- -->

<div class="well col-lg-8 col-sm-12" style="color:black">

<h1 class="text-center">
<%= shop.buy %>
</h1>
<br>
<%if(pid){%>
<%for(var i=0;i<item.length;i++){%>
<img src="../../img/cd/<%=item[i].sku%>.png">
<br><%= shop.pid %>
:<%= pid %>
<br><%= shop.title%>
:<%=item[i].name%>
<br><%= shop.sku %>
:TMS-<%=item[i].sku%>
<br><%= shop.pri %>
:<%=item[i].price.toLocaleString()%>
<br><%= shop.unit %>
:<%=item[i].quantity%><br>
<%}%>   
<%}else{ %>   
on pid
<%}%>   
<br>
<a href="/shop">back to shop </a>


</div>
<% include par/2side %>
</div>
</div>

</body>


