<div class="card">
<div class="card-header">【合計】</div>

<div class="card-body bg-bei">
<%if(sum){%>
&nbsp;商品小計&nbsp; (税抜)&nbsp;:  <%=sum.toLocaleString()%> &nbsp;円 <br>
&nbsp;消費税計&nbsp;&nbsp;:  <% var stax=Math.round(sum*0.08)%>
<%=stax%>
&nbsp;<%= shop.yen %> <br>

&nbsp;送料&nbsp;:  650 &nbsp; <%= shop.yen %><br>
<%}else{%>no sum<%}%>

<%if(tsum){%> 
&nbsp;合計金額 &nbsp; (税込)&nbsp; :
<%=(tsum+stax).toLocaleString()%> &nbsp;<%= shop.yen %>
<%}else{%>
no sum
<%}%>

</div><!-- body -->
</div><!-- card-->
