<%if(seltmp){%>
<%for(var i=0;i<seltmp.length;i++){%>
<%if(seltmp[i].uni!==0){%>

<div class="row">

<div align="left" class="col-md-5" id="bkg1">
<p align="center">
<img src="../img/cd/<%=mer[i].sku%>.png" width="200" >
    </p>
</div><!-- col5-->

<div class="col-md-7" id="bkg1">
<%= shop.tit %>：&nbsp;  <%=mer[i].name%><br>
<%= shop.sku %>: &nbsp; TMS-<%=seltmp[i].sku%><br>
<%= shop.pri %> &nbsp;（<%= shop.unit %>）&nbsp; : &nbsp;<%=mer[i].pri.toLocaleString()%> &nbsp;<%= shop.yen %> <br>
<%= shop.unit %>:<form method="post" action="/shop/cart">
<input class="form-control" id="number" type="number" name="uni" value="<%=seltmp[i].uni%>">
<input type="hidden" name="sku" value="<%=seltmp[i].sku%>">
<button class="btn btn-info" type="submit"><%= shop.res %></button>
</form>

</div><!-- col4-->
</div><!-- row-->



<%} else { %>no uni<% } %>
<% } %>

<%} else { %>no seltmp<% } %>

