<div id="container-fluid">
<div class="row">

<div class="col-md-1 hidden-xs"></div>
<div class="col-md-4">


<div class="btn btn-xs btn-cd"><%=disc.ITE1%></div>

<div class="title9">

<font size="4"><b><center><%=disc.TIT1%><br>
<%=disc.TIT2%></b></center></font><br>

<img class="img-responsive center-block" src="img/cd/328.png"/>

<font size="2"><center><%=disc.RER1%><br>
<%=disc.PRI1%>／<%=disc.COR1%></center></font>
<br>


</div><!--title9-->
</div><!--md4-->


<div class="col-md-6" style="background-color:white">
<div class="box12">CD</div>


<div class="box15">
<p class="box16">01&nbsp;&nbsp;&nbsp;<%=disc.SON1%>
<font size="2">&nbsp;&nbsp;<%=disc.GUE%><br>
</font>
</p>
</div><!--/box15-->


<div class="box15">
<p class="box16">02&nbsp;&nbsp;&nbsp;<%=disc.SON2%></p>
</div><!--box15-->
<br>

<a href="shop" target="_blank" class="btn btn btn-black">CART
</a>
</div><!--md6--->

<div class="col-md-1 hidden-xs"></div>

</div><!--row-->
</div><!--cont-->

