<div id="container-fluid">
<div class="row">

<div class="col-md-1 hidden-xs"></div>

<div class="col-md-4">

<div class="btn btn-xs btn-cd"><%=disc.ITE2%></div>

<div class="title9">

<font size="4"><b><center><%=disc.TIT3%><br>
<%=disc.TIT5%></b>
</center></font><br>

<img class="img-responsive center-block" src="img/cd/333.png"/>
<font size="2"><center><%=disc.RER2%><br>
<%=disc.PRI2%>／<%=disc.COR3%></center></font>

</div><!--title9-->
</div><!--md4-->


<div class="col-md-6" style="background-color:white">
<div id="0328" class="box12">CD</div>

<div class="box15">
<p class="box16">01&nbsp;&nbsp;&nbsp;<%=disc.SON3%>
</p>
</div><!--/box15-->

<div class="box15">
<p class="box16">02&nbsp;&nbsp;&nbsp;<%=disc.SON4%></p>
</div><!--box15-->

<div class="box15">
<p class="box16">03&nbsp;&nbsp;&nbsp;<%=disc.SON8%></p>
</div><!--box15-->

<div class="box15">
<p class="box16">04&nbsp;&nbsp;&nbsp;<%=disc.SON6%></p>
</div><!--box15-->

<div class="box15">
<p class="box16">05&nbsp;&nbsp;&nbsp;<%=disc.SON7%></p>
</div><!--box15-->
<br>

<a href="shop" target="_blank" class="btn btn btn-black">CART
</a>
</div><!--md6--->

<div class="col-md-1 hidden-xs"></div>

</div><!--row-->
</div><!--cont-->

