<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<div class="row">

<!-- lang -->
<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="cart?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="cart?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>
<!-- lang -->

<!--- ------------------------------------- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<h5><div class="label label-info"> &nbsp;<%= usr%>&nbsp; さん </div></h5>
<br><br>
<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- ------------------------------------- main ----- -->

<div class="well col-md-9" style="color:black">
<p class="box90"><%=shop.cart%></p>

<div class="col-md-8" style="color:black"  >
<br>
<%if(usr==null){%>
<%= shop.login %><br>
<%}else{%>

<%if(seltmp && mer.length!==0){%>
<%for(var i=0;i<seltmp.length;i++){%>
<%if(seltmp[i].uni!==0){%>
<div class="col-md-4">
<div align="center">
<img src="../<%=mer[i].img%>" width="150" height="150" >

</div>
</div>

<div class="col-md-8">
<%= shop.mnam %>：&nbsp;  <%=mer[i].name%><br>
<%= shop.sku %>: &nbsp; TMS- <%=seltmp[i].sku%><br>
<%= shop.price %> &nbsp;（<%= shop.ntax %>）&nbsp; : &nbsp;<%=mer[i].pri.toLocaleString()%>円 <br>
<%= shop.unit %>:<form method="post" action="/shop/cart">
<input id="number" type="number" name="uni" value="<%=seltmp[i].uni%>">
<input type="hidden" name="sku" value="<%=seltmp[i].sku%>">
<button type="submit" ><%= shop.res %></button>
</form>

<hr>

</div>
<br>


<%}%>
<%}%>

<div class="col-md-12" style="color:black" align="center" >
<form method="post" action="/shop/cart">
<input type="hidden" name="clr" value="yes">
<button type="submit" ><%=shop.clr%></button>
</form>

</div>


</div>

<br>
<div class="col-md-4" style="color:black"  >

<div class="box93">
<%if(sum){%>
    <h4>&nbsp;<%= shop.sub %>&nbsp; (<%= shop.ntax %>)&nbsp;:  <%=sum.toLocaleString()%> &nbsp;<%= shop.yen %> </h3>
    <h4>&nbsp;<%= shop.tax %>&nbsp;&nbsp;:  <% var stax=Math.round(sum*0.08)%> 
    <%=stax%>
    &nbsp;<%= shop.yen %> </h4>

<%if(boo==0){%>
<h4>&nbsp;<%= shop.ship %>&nbsp;:  650 &nbsp;<%= shop.yen %> </h4>
<%}else{%><h4>&nbsp;<%= shop.ship %>&nbsp;:  0 &nbsp;<%= shop.yen %> </h4>

<%}%>
<%}else{%>
no sum
<%}%>
<hr>

<div class="box102">
<%if(tsum){%> 
<h4>&nbsp;<%= shop.tot %> &nbsp; (<%= shop.tax %>）&nbsp; :
<br>
<%=(tsum+stax).toLocaleString()%> &nbsp;<%= shop.yen %></div>
<%}else{%>
no sum
<%}%>


</h4><br>


</div>

<br>

<h4>【<%= shop.pay %>】</h4>

<form action="/shop/paidy" method="get">
<button type="submit" >paidy</button>
<h4>&nbsp;（<%= shop.conv %>）</form></h4>

<form action="/shop/paypal/pay" method="get">
<button type="submit" >PayPal</button>
<h4>&nbsp;（<%= shop.cre %>）</form></h4>


<br>

<h5>
【カートに関するご注意】<br><br>
・カートに商品を入れただけでは、
在庫は確保されておりません。
注文完了時点」で在庫確保となります。<br>
ご注文の途中で売り切れとなる場合がございますのでお気をつけください。<br>
</h5>


<%}else{%>
<%= shop.emp %>
<%}%>
<%}%>

</div>

<br><br><br><br><br>


<div align="center">
<style="color:black">
<form method="get" action="/shop">
<button type="submit"><%= shop.bck %></button>
</form></div>


</div>

<!-- col1 -->
<div class="col-md-1 hidden-xs"></div><!-- /col1-->
</div> <!-- /row -->

<hr>

<% include par/cart %>


<br><br><br><br><br>
</div>
</div>
</div><!--container-fluid-->
</div><!-- row -->

<div class="footer"><% include par/foot %></div>

<script>
    
var loc= "http://localhost:3023"
<!-- var loc= "https://3axe.tmsmusic.tokyo" -->

var xhr = new XMLHttpRequest();
xhr.open("PUT", loc+"/shop/aid/aid", true);
xhr.setRequestHeader('Content-Type', 'application/json');
xhr.send();

</script>

