<% include par/head %>
<body>
<% include par/nav %>

<div class="container-fluid">
<div class="row">

<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="cart?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="cart?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<!--- ------------------------------------- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<h5><div class="label label-info"> &nbsp;<%= usr%>&nbsp; さん </div></h5>
<br><br>
<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- ------------------------------------- main ----- -->

<div class="col-md-9" style="color:black">
<p class="box90"><%=shop.cart%></p>


<div class="col-md-8" style="color:black"  >
<br>
<%if(usr==null){%>
ログインしてください。<br>
<%}else{%>

<%if(seltmp && mer.length!==0){%>
<%for(var i=0;i<seltmp.length;i++){%>
<%if(seltmp[i].uni!==0){%>
<div class="col-md-4">
<div align="center">
<img src="../<%=mer[i].img%>" width="150" height="150" >

</div>
</div>


<div class="col-md-8">

商品名：&nbsp;  <%=mer[i].name%><br>
商品番号: &nbsp; TMS- <%=seltmp[i].sku%><br>
単価 &nbsp;（税抜）&nbsp; : &nbsp;<%=mer[i].pri.toLocaleString()%>円 <br>


数量:<form method="post" action="/shop/cart">
<input id="number" type="number" name="uni" value="<%=seltmp[i].uni%>">
<input type="hidden" name="sku" value="<%=seltmp[i].sku%>">
<button type="submit" >再計算</button>
</form>

<hr>

</div>
<br>


<%}%>
<%}%>

<div class="col-md-12" style="color:black" align="center" >
<form method="post" action="/shop/cart">
<input type="hidden" name="clr" value="yes">
<button type="submit" ><%=shop.clr%></button>
</form>

</div>


</div>

<br>
<div class="col-md-4" style="color:black"  >

<div class="box93">
<%if(sum){%>
<h4>&nbsp;商品小計&nbsp; (税抜)&nbsp;:  <%=sum.toLocaleString()%> &nbsp;円 </h3>
<h4>&nbsp;消費税計&nbsp;&nbsp;:  <% var stax=Math.round(sum*0.08)%> 
<%=stax%>
&nbsp;円 </h4>

<%if(boo){%>
<h4>&nbsp;送料&nbsp;:  650 &nbsp;円 </h4>
<%}else{%><h4>&nbsp;送料&nbsp;:  0 &nbsp;円 </h4>

<%}%>
<%}else{%>
no sum
<%}%>
<hr>

<div class="box102">
<%if(tsum){%> 
<h4>&nbsp;合計金額 &nbsp; (税込）&nbsp; :
<br>
<%=(tsum+stax).toLocaleString()%> &nbsp;円</div>
<%}else{%>
no sum
<%}%>


</h4><br>


</div>

<br>

<h4>【決済手段】</h4>

<form action="/shop/paidy" method="get">
<button type="submit" >paidy</button>
<h4>&nbsp;（コンビニ、銀行振込決済）</form></h4>

<form action="/shop/paypal/pay" method="get">
<button type="submit" >PayPal</button>
<h4>&nbsp;（クレジットカード決済）</form></h4>

<br>

<h5>
【カートに関するご注意】<br><br>
・カートに商品を入れただけでは、
在庫は確保されておりません。
注文完了時点」で在庫確保となります。<br>
ご注文の途中で売り切れとなる場合がございますのでお気をつけください。<br>
</h5>


<%}else{%>
カートは空です。
<%}%>
<%}%>

</div>

<br><br><br><br><br>


<div align="center">
<style="color:black">
<form method="get" action="/shop">
<button type="submit">ショップに戻る</button>
</form></div>


</div>

<!-- col1 -->
<div class="col-md-1 hidden-xs"></div><!-- /col1-->
</div> <!-- /row -->

<hr>

<% include par/cart %>


<br><br><br><br><br>
</div>
</div>
</div><!--container-fluid-->
</div><!-- row -->

<div class="footer"><% include par/foot %></div>


