<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div class="container-fluid">
<div class="row">

<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="/shop?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="/shop?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info">  &nbsp;<%=usr%>&nbsp;さん</div>
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- main ----- -->

<div class="col-md-10 col-xs-12" style="color:black">
<div class="row">

<%if(typeof mer!=="undefined"){%>

<%for(var i=0;i<mer.length;i++){%>

<div id="cd-col" class="col-md-4 col-xs-12" style="height:100%" >
<div class="box122">

<form action="/shop/item<%=mer[i].sku%>" method="post">
<input type="hidden" name="sku" value="<%=mer[i].sku%>">
<div align="center">
<input type="image" src="../img/cd/<%= mer[i].sku %>.png" onerror="this.src='http://localhost:3023/img/cd/no.png'" height="240" alt="submit">
</div>

<div class="style27"><%=mer[i].name%><br>
TMS-<%=mer[i].sku%></div>
</form>

</div></div>
<%}%>
<%}%>

</div></div>


</div><!--row-->


</div><!-- /container -->

<br><br><br><br><br><br><br><br><br><br>

<div class="footer">
<% include par/foot %>
</div>


</body>

