<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<% include par/nav %>

<div class="container-fluid">
<% include par/lang %>
<div class="row">

<<<<<<< HEAD
<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% include par/usr %>
</div>
<!--- main ----- -->

<div class="col-md-10 col-xs-12" style="color:black">
<div class="row">


<%if(typeof mer!=="undefined"){%>

<%for(var i=0;i<mer.length;i++){%>

<div id="cd-col" class="col-md-4 col-xs-12" style="height:100%" >
<div class="box122">

<div align="center">
<div class="card" style="width: 18rem;">
<div class="card-body">

<form action="/shop/item<%=mer[i].sku%>" method="post">
<input type="hidden" name="sku" value=<%=mer[i].sku%>>
<input type="image" src=<%=mer[i].img%> height="240" alt="submit">
<div class="style27"><%=mer[i].name%><br>
TMS-<%=mer[i].sku%></div>
</form>

</div>
</div>
</div>

</div></div>
<%}%>
<%}%>


=======
<div class="col-sm-2">
<% include par/left %>
</div>

<div class="col-sm-10">
<% include par/ite %>
</div>
>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341

</div><!--row-->
</div><!-- /container -->


<% include par/foot %>


</body>

