<% include par/head %>
<body>
<% include par/shop/nav %>
<div class="container-fluid">
<div class="row">

<!--- side left ------->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info"><%= usr%></div>
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- main ------->

<div class="col-sm-8" style="color:black">

<%if(mailusr){%>

<h3><%=shop.JOL2%></h3><br>

name:<%=mailusr.name%><br>
email:<%=mailusr.email%><br>
<%if(mailadr){%>
phone:<%=mailadr.phn%>
<%}%>
<form>



<%}else{%>
please log in.

<%}%>
<br>
</div>


<div class="col-sm-1"></div>

</div>



<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>

<div class="footer"><% include par/foot %></div>


