<!DOCTYPE html>
<html>
<% include par/head %>
<% include par/shop/nav %>
<body>

<div id="container-fluid">
<div id="wrap">
<div class="row">

<!--- ------------------------------------- side left ------->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(typeof usr!=="undefined") {%> 
<div class="label label-info"><%= usr%></div>
<br><br>
<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- ------------------------------------- main ------->

<div id="cd-col" class="well col-md-10 col-xs-12" style="color:black">
<div class="row">
<div id="cd-col" class="well col-md-12 col-xs-12" style="color:black">
<table border="1" class="table"><tr><td width="20%">
<%if(mer){%>
<div align="center"><img src="img/cd/<%=mer.sku%>.png"></div>
</td><td>

<%=mer.name%><br>
TMS-<%=mer.sku%><br>
<%=mer.pri.toLocaleString()%><br>
<form action="/rev" method="post">
<input type="hidden" name="sku" value=<%=mer.sku%>>
<%}%>
数量:
<input id="number" type="number" name="uni" value="1" min="0" step="1">
<br><br>
<button type="submit">reserve</button>
</form>

</td></tr>
</table>

</div><!-- cd-col -->
</div><!-- row -->

</div><!-- main-col -->

</div><!--row-->


</div><!-- /container -->

<br><br><br><br><br><br><br><br><br><br>

<div class="footer">
<% include par/foot %>
</div>


</body>

