<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<<<<<<< HEAD
<div class="row">

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
    <% include par/usr %>
</div>
<!--- main ---- -->

<div class="col-sm-8" style="color:black">

<div class="card">
<div class="card-header">
マイページ
</div>
=======
<div align="right">

<a class="<%=(lang=="ja"?"active":"")%>" href="/shop/my?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="/shop/my?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>

</div>

<div class="row">
<div class="col-md-2" style="color:black">
<% include par/left %>
</div>


<!--- side left ----- -->

<div class="col-md-10" style="color:black">
    <div class="box90"><%= shop.mypage %></div>
<br>
<% if(usr) {%> 
<% include par/my/main %> 
>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341

<div class="card-body">
<%if(mailusr){%>
 <ul class="list-group">
 <li class="list-group-item">お名前:&nbsp;&nbsp; <%=mailusr.name%> 様</li>
<li class="list-group-item"> email:&nbsp;&nbsp; <%=mailusr.email%> </li> 
<li class="list-group-item"><%if(mailadr){%>電話番号:<%=mailadr.phn%><br>
   <li class="list-group-item"> 郵便番号:&nbsp;&nbsp; <%=mailadr.zip%> </li> 
<li class="list-group-item"> 都道府県:&nbsp;&nbsp; <%=mailadr.sta%> </li>
  <li class="list-group-item"> 市区町村:&nbsp;&nbsp; <%=mailadr.city%> </li>
   <li class="list-group-item">住所1 :&nbsp;&nbsp; <%=mailadr.ln2%> </li> 
   <li class="list-group-item"> 建物名:&nbsp;&nbsp; <%=mailadr.ln1%> </li> 
<%}else{%>
<<<<<<< HEAD
住所が登録されていません。<br><br>
<a href="usr/adr">登録する</a>
<%}%>
</ul> 

  </div></div>

<%}else{%>
ログインしてください。

=======
<span style="color:black">
    <%= shop.login %>
</span>
>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341
<%}%>
<br>
</div>
<!-- row -->
</div>
<!-- cont -->


<<<<<<< HEAD


<div class="col-md-12" style="color:black" align="center" >

<style="color:black">
<form method="get" action="/shop">
<button type="submit">ショップに戻る</button>
</form>

</div>




<div class="col-md-2 col-sm-12" style="color:black"></div>

</div>
</div>
<br><br>
<div class="footer"><% include par/foot %></div>
=======
<% include par/foot %>
>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341


