<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<div align="right">
<a class="<%=(lang=="ja"?"active":"")%>" href="my?clang=ja">
<span class="flag-icon flag-icon-jp my-big"></span>
</a>

<a class="<%=(lang=="en"?"active":"")%>" href="my?clang=en">
<span class="flag-icon flag-icon-gb my-big"></span>
</a>
</div>

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info"><%= usr%></div>さま
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- main ---- -->

<div class="well col-sm-8" style="color:black">

<div class="box90"><%= gis.my %></div>
<br>

<%if(mailusr){%>
<div class="panel panel-default">
    <div class="box120"> <h4><%= gis.name %>:&nbsp;&nbsp; <%=mailusr.name%> 様</h4>
</div></div>

<div class="panel panel-default">
<div class="box120">
   <h4> email:&nbsp;&nbsp; <%=mailusr.email%> </h4> 
</div></div>
<div class="panel panel-default">
<div class="box120">
    <h4><%if(mailadr){%><%= gis.tel %>:&nbsp;&nbsp;<%=mailadr.phn%><br>
</h4></div></div>

<div class="panel panel-default">
<div class="box120">
    <h4> <%= gis.zip %>:&nbsp;&nbsp; <%=mailadr.zip%> </h4> 
</div></div>

<div class="panel panel-default">
<div class="box120">
    <h4> <%= gis.sta %>:&nbsp;&nbsp; <%=mailadr.sta%> </h4>
</div></div>

<div class="panel panel-default">
<div class="box120">
    <h4> <%= gis.city %>:&nbsp;&nbsp; <%=mailadr.city%> </h4>
</div></div>

<div class="panel panel-default">
<div class="box120">
    <h4><%= gis.adr %> :&nbsp;&nbsp; <%=mailadr.ln1%> </h4> 
</div></div>


<div class="panel panel-default">
<div class="box120">
    <h4> <%= gis.bldg %>:&nbsp;&nbsp; <%=mailadr.ln2%> </h4> 
</div></div>

<%}else{%>
<%= gis.nadr %><br><br>
<a href="usr/adr"><%= gis.reg3 %></a>
<%}%>
<%}else{%>
<%= shop.login %>
<%}%>
<br>
</div>
</div>
<div class="col-md-12" style="color:black" align="center" >

<style="color:black">
<form method="get" action="/shop">
<button type="submit"><%= shop.bck %></button>
</form>

</div>

<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>
<br><br>
<div class="footer"><% include par/foot %></div>


