<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info"><%= usr%></div>
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- main ---- -->

<div class="col-sm-8" style="color:black">

<%if(mailusr){%>
<div class="box90">マイページ</div>
<br>

<div class="panel panel-default">
<div class="box120"> <h4>お名前:&nbsp;&nbsp; <%=mailusr.name%> 様</h4>
</div></div>


<div class="panel panel-default">
<div class="box120">
   <h4> email:&nbsp;&nbsp; <%=mailusr.email%> </h4> 
</div></div>
<div class="panel panel-default">
<div class="box120">
<h4><%if(mailadr){%>電話番号:<%=mailadr.phn%><br>
</h4></div></div>

<div class="panel panel-default">
<div class="box120">
   <h4> 郵便番号:&nbsp;&nbsp; <%=mailadr.zip%> </h4> 
</div></div>

<div class="panel panel-default">
<div class="box120">
<h4> 都道府県:&nbsp;&nbsp; <%=mailadr.sta%> </h4>
</div></div>



<div class="panel panel-default">
<div class="box120">
  <h4> 市区町村:&nbsp;&nbsp; <%=mailadr.city%> </h4>
</div></div>

<div class="panel panel-default">
<div class="box120">
   <h4>住所1 :&nbsp;&nbsp; <%=mailadr.ln2%> </h4> 
</div></div>


<div class="panel panel-default">
<div class="box120">
   <h4> 建物名:&nbsp;&nbsp; <%=mailadr.ln1%> </h4> 
</div></div>

<%}else{%>
住所が登録されていません。<br><br>
<a href="usr/adr">登録する</a>
<%}%>
<%}else{%>
ログインしてください。

<%}%>
<br>
</div>
</div>




<div class="col-md-12" style="color:black" align="center" >

<style="color:black">
<form method="get" action="/shop">
<button type="submit">ショップに戻る</button>
</form>

</div>




<div class="col-md-2 col-sm-12" style="color:black">
</div></div>
</div>
<br><br>
<div class="footer"><% include par/foot %></div>


