<% include par/head %>
<% include par/nav %>
<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="col-md-2 col-sm-12" style="color:black">
    <% include par/usr %>
</div>
<!--- main ---- -->

<div class="col-sm-8" style="color:black">

<div class="card">
<div class="card-header">
マイページ
</div>

<div class="card-body">
<%if(mailusr){%>
 <ul class="list-group">
 <li class="list-group-item">お名前:&nbsp;&nbsp; <%=mailusr.name%> 様</li>
<li class="list-group-item"> email:&nbsp;&nbsp; <%=mailusr.email%> </li> 
<li class="list-group-item"><%if(mailadr){%>電話番号:<%=mailadr.phn%><br>
   <li class="list-group-item"> 郵便番号:&nbsp;&nbsp; <%=mailadr.zip%> </li> 
<li class="list-group-item"> 都道府県:&nbsp;&nbsp; <%=mailadr.sta%> </li>
  <li class="list-group-item"> 市区町村:&nbsp;&nbsp; <%=mailadr.city%> </li>
   <li class="list-group-item">住所1 :&nbsp;&nbsp; <%=mailadr.ln2%> </li> 
   <li class="list-group-item"> 建物名:&nbsp;&nbsp; <%=mailadr.ln1%> </li> 
<%}else{%>
住所が登録されていません。<br><br>
<a href="usr/adr">登録する</a>
<%}%>
</ul> 

  </div></div>

<%}else{%>
ログインしてください。

<%}%>
<br>
</div>
</div>




<div class="col-md-12" style="color:black" align="center" >

<style="color:black">
<form method="get" action="/shop">
<button type="submit">ショップに戻る</button>
</form>

</div>




<div class="col-md-2 col-sm-12" style="color:black"></div>

</div>
</div>
<br><br>
<div class="footer"><% include par/foot %></div>


