<% include par/head %><br>
<body><br>
<% include par/nav %><br>
<div class="container-fluid"><br>

<div class="row"><br>

<!--- side left -------><br>
<div class="well col-md-2 col-sm-12" style="color:black"><br>

<% if(usr) {%> 
<div class="label label-info"><%= usr%></div><br>
<br><br><br>
<% include par/out %><br>
<%}else{ %><br>
<% include par/login %><br>
<%} %><br>
</div><br>
<!--- side left -------><br>

<div class="well col-md-8 col-sm-12" style="color:black"><br>
<h3 class="text-center"><br>
<% if (title) {%><%= title %><% } else { %><br>
no title
<% } %></h3><br>
<br><br><br>

<%if(usr!==null){%>
<%=mailadr.email%><br>
<%=mailadr.phn%><br>
<%=mailadr.ln1%><br>
<%=mailadr.ln2%><br>
<%=mailadr.sta%><br>
<%=mailadr.city%><br>
<%=mailadr.zip%>


<%}else{%><br>
ログインしてください。
<%}%><br>

</div><br>
<% include par/2side %><br>

</div><br>


</div><br>

</body><br>

