<div class="card" style="width:300px">

<img class="card-img-top" src="../img/cd/<%=mer.sku%>.png" width="300px">

<div class="card-body">
    <span class="card-text"><%=mer.cat%></span><br>
    <span class="card-title"><%=mer.name%></span><br>
    <span class="card-text">商品番号：TMS-<%=mer.sku%></span><br>
    <span class="card-text">発売日：<%=mer.rel%></span><br>

<% include ./song %>

  </div>
</div>
<br>

