<<<<<<< HEAD
<div class="card" style="width:300px">

<img class="card-img-top" src="../img/cd/<%=mer.sku%>.png" width="300px">

<div class="card-body">
    <span class="card-text"><%=mer.cat%></span><br>
    <span class="card-title"><%=mer.name%></span><br>
    <span class="card-text">商品番号：TMS-<%=mer.sku%></span><br>
    <span class="card-text">発売日：<%=mer.rel%></span><br>

<% include ./song %>

  </div>
</div>
<br>
=======
<div class="row">

<%if(typeof mer!=="undefined"){%>

<%for(var i=0;i<mer.length;i++){%>

<div id="cd-col" class="col-md-4 col-xs-12" style="height:100%" >
<div class="box122">

<form action="/shop/item<%=mer[i].sku%>" method="post">
<input type="hidden" name="sku" value="<%=mer[i].sku%>">
<div align="center">
<input type="image" src="<%=mer[i].img%>" height="240" alt="submit">
</div>

<div class="style27">
<%=mer[i].name%><br>
TMS-<%=mer[i].sku%>
</div>
</form>

</div></div>
<%}%>
<%}%>

</div>
>>>>>>> e3998c90edb84bd4903e2b54245d2b93f4f37341

