<!DOCTYPE html>
<html>
<% include par/head%>
<body>
<!-- menu -->

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div class="row">

<!-- side left ----- -->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info">welcome:<%= usr%></div>
<br><br>
<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!-- side left ----- -->

<div class="col-sm-8" style="background-color:white;color:black">

<%if(typeof mer!=="undefined"){%>

<%for(var i=0;i<mer.length;i++){%>

<div id="cd-col" class="well col-md-4 col-xs-12" style="height:100%" >

<form action="/mer/item<%=mer[i].sku%>" method="post">
<input type="hidden" name="sku" value=<%=mer[i].sku%>>
<div align="center">
<input type="image" src="../<%=mer[i].img%>" height="240" alt="img">
</div>
<div class="style27"><%=mer[i].name%><br>
TMS-<%=mer[i].sku%></div>

</form>
</div>
<%}%>
<%}%>

<br>

</div><!-- /col12-->

<% include par/2side%>

</div>
</div><!-- /container-fluid-->

<div class="footer"><% include par/foot %></div>
</body>
</html>

