<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">

<div class="row">

<!--- side left ------->
<div class=" col-md-2 col-sm-12" style="color:black">
<% if(usr!==null) {%> 
<div class="badge badge-info">welcome:<%= usr%></div>
<br><br>
<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>
<!--- side left ------->

<div class=" col-md-8 col-sm-12" style="color:black">
<h3 class="text-center">
<% if (title) {%>
<%= title %>
<% } else { %>
no title
<% } %></h3>

<br>
<%if(usr!==null){%>
<%if(typeof mer!=="undefined"){%>
<form action="/mer/song_put" method="post">
品番:&nbsp;<select name="sku" >
<%for(var i=0;i<mer.length;i++){%>
<option value="<%=mer[i].sku%>"><%=mer[i].sku%></option>
<%}%>
</select>
<br>
曲数:&nbsp;<select name="song" >
<%for(var i=1;i<15;i++){%>
<option value="<%=i%>"><%=i%></option>
<%}%>
</select>
<br><br>
&nbsp;<input type="submit" class="btn btn btn-black" value="submit">
<br><br>
</form>

<%}else{%>
no mer
<%}%>

<%}else{%>
ログインしてください。

<%}%>

</div>
<% include par/2side %>

</div>


</div>

</body>

