商品名:<%=mer.name%><br>
商品番号：TMS-<%=mer.sku%><br>
カテゴリー:<%=mer.cat%><br>
価格:<%=mer.pri %> &nbsp;円<br><br>
<div class="box90">商品紹介</div><br>
<div class=""><%=mer.des %></div><br>

<form method="get" action="/shop">
    <button class="btn btn-info" type="submit">ショップに戻る</button>
</form>


