<% include par/head %>
<% include par/nav %>

<body>
<div class="container-fluid">
<div class="row">

<!--- side left ----- -->
<div class="well col-md-2 col-sm-12" style="color:black">
<% if(usr) {%> 
<div class="label label-info"><%= usr%>&nbsp;さん </div>
<br><br>

<% include par/out %>
<%}else{ %>
<% include par/login %>
<%} %>
</div>

<!--- main ----- -->

<div class="col-lg-8 col-sm-12" style="color:black">
<%if(usr){%>

<div class="box90">購入履歴詳細</div><br>
<%}else{%>
ログインしてください。<br>

<%}%>

<!--- paypal----- -->


<%if(allpal && allpal.length!==0){%>
&nbsp;&nbsp;&nbsp;&nbsp;

<h4><span class="label label-info">paypal</span></h4>
<%for(var i=0;i<allpal.length;i++){%>

<br>

<font color="#0000ff">
<u><b>&nbsp;&nbsp;&nbsp;&nbsp;購入日時：
<%=allpal[i].utc %></b></u><br>
</font>

<u>&nbsp;&nbsp;&nbsp;&nbsp;注文番号：
<%=allpal[i].id %></u><br>
<br>
<%for (var j=0;j<opal[i].length;j++){%>
<div class="col-md-3">
<div valign="top" align="center">
<img src="../img/cd/<%= opal[i][j].sku%>.png" width="150">
</div>
</div>

<div class="well col-md-9">
<div class="note">

商品タイトル：<%=opal[i][j].name%><br>
品番：TMS-&nbsp;<%=opal[i][j].sku%>&nbsp; <br>
商品単価：&nbsp;<%= Number(opal[i][j].price).toLocaleString() %><%= shop.yen %>&nbsp; (税抜）<br>
税込価格：&nbsp;<%= Number(Math.ceil(opal[i][j].price*1.08)).toLocaleString() %>円&nbsp;<br>
数量：<%=opal[i][j].quantity%><br>
<div class="border-bottom"></div>
</div>
</div>

<%}%>
送料：650<%= shop.yen %><br>
小計：<%= Math.ceil((allpal[i].sum)*1.08).toLocaleString() %><%= shop.yen %><br>
合計：<%= (Math.ceil((allpal[i].sum)*1.08)+650).toLocaleString() %><%= shop.yen %>
<%}%>
<br>
<%}else{%>
<%}%>

<br><br>


<%if(allpid && allpid.length!==0){%>
&nbsp;&nbsp;&nbsp;&nbsp;
<h4><span class="label label-danger">paidy</span></h4>
<%for(var i=0;i<allpid.length;i++){%>


<font color="red">
<b><u>&nbsp;&nbsp;&nbsp;&nbsp;購入日時：
<%=allpid[i].date%></u></b><br>
</font>

<u>&nbsp;&nbsp;&nbsp;&nbsp;注文番号：
<%=allpid[i].pid%></u><br>
<br>


<%if(oite && oite.length!==0){%>
<%for (var j=0;j<oite[i].length;j++){%>
<div class="col-md-3">
<div valign="top" align="center">
<img src="../img/cd/<%=oite[i][j].id%>.png" width="150cm" height="150mm">
</div>
</div>

<div class="well col-md-9">
<div class="note">
商品タイトル：<%=oite[i][j].title%><br>
品番：TMS-&nbsp;<%=oite[i][j].id%>&nbsp; <br>
商品単価：&nbsp;<%= (oite[i][j].unit_price).toLocaleString() %>円&nbsp; (税抜）<br>
税込価格：&nbsp;<%= Math.ceil(oite[i][j].unit_price*1.08).toLocaleString() %>円&nbsp;<br>
数量：<%=oite[i][0].quantity%><br>
<div class="border-bottom"></div>

</div>
</div>
<%}%>
送料：650円<br>
小計：&nbsp;<%= (allpid[i].mnt-650).toLocaleString() %>円<br>
合計金額：<%=allpid[i].mnt.toLocaleString()%>円<br>

<%}%>

<%}%>
<%}else{%>
<%}%>


<br>

</div></div>


</div>
</div>

<% include par/2side %>
</div>


<br><br>

<div class="col-md-12" style="color:black" align="center" >

<style="color:black">
<form method="get" action="/shop">
<button type="submit">ショップに戻る</button>
</form>

</div>


<br><br><br>

<div class="footer"><% include par/foot %></div>


